{
	admin off
	default_sni {$SERVER_ADDRESS:localhost}
	skip_install_trust
}

{$SERVER_ADDRESS:localhost} {
	tls internal
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "same-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	reverse_proxy app:8000

	log {
		output stdout
		format json
	}
}
